.background {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}

.background p {
  max-width: 1060px;
}

.apply {
  margin-top: -30px !important;
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
}

.location {
  margin-top: -10px !important;
  font-weight: 500;
  color: var(--red-color);
}
